<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/clear.css">
  <link href="https://fonts.googleapis.com/css?family=Arimo|Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/custom.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CryptoMarkets</title>
</head>
<body>
  <div class="container montserrat">
    <header>
      <div class="bold">coincoin</div>
    </header>
    <main>
      <div class="wrapper">
        <ul>
          <% @data.each do |coin| %>
            <li class="row">
              <div class="med-screen"><img src="<%= "#{@base_url + coin.data["ImageUrl"]}" %>"/></div>
              <div class="left-col rows-2 pad-left-20 pad-top-5 pad-bottom-5">
                <div class="font-large bold"><%= "#{coin.data["Name"]}" %></div>
                <div class="font-small"><%= "#{coin.data["CoinName"]}" %></div>
              </div>
              <div class="font-med align-right bold pad-top-15 arimo"><%= "#{coin.price_detail["PRICE"]}"%>
              </div>
              <div class="font-med align-right pad-right-5 pad-top-5 margin-left-20 arimo <%= coin.price_detail["PRICE"].to_f > 0 ? "price-up" : "price-down" %>">
                <div><%= "#{sprintf('%.2f', coin.price_detail_raw["CHANGEDAY"])}" %>
                </div>
                <div class=""><%= "#{sprintf('%.2f', coin.price_detail_raw["CHANGEPCTDAY"])}" %> %</div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>    <!-- /.wrapper -->
    </main>
    <footer>footer</footer>
  </div>
</body>
</html>