<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/clear.css">
  <link rel="stylesheet" type="text/css" href="../css/custom.css">

  <title>CryptoMarkets</title>
</head>
<body>
  <div class="container">
    <header>header</header>
    <main>
      <ul>
        <% @data.each do |coin| %>
          <li class="row">
            <div class="font-large"><%= "#{coin.data["Name"]}" %></div>
            <div class="font-small"><%= "#{coin.data["CoinName"]}" %></div>
            <div><%= "#{coin.price_detail["PRICE"]}"%>
            </div>
            <div><%= "#{sprintf('%.2f', coin.price_detail_raw["CHANGEDAY"])}" %>
            </div>
            <div><%= "#{sprintf('%.2f', coin.price_detail_raw["CHANGEPCTDAY"])}" %></div>
          </li>
        <% end %>
      </ul>
    </main>
    <footer>footer</footer>
  </div>
</body>
</html>