<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/clear.css">
  <link rel="stylesheet" type="text/css" href="../css/custom.css">

  <title>CryptoMarkets</title>
</head>
<body>
  <div class="container">
    <header>header</header>
    <main>
      <div class="wrapper">
        <ul>
          <% @data.each do |coin| %>
            <li class="row">
              <div class="left-col rows-2">
                <div class="font-large"><%= "#{coin.data["Name"]}" %></div>
                <div class="font-small"><%= "#{coin.data["CoinName"]}" %></div>
              </div>
              <div class="font-med align-right bold pad-top-20"><%= "#{coin.price_detail["PRICE"]}"%>
              </div>
              <div class="font-small align-right pad-top-10">
                <div><%= "#{sprintf('%.2f', coin.price_detail_raw["CHANGEDAY"])}" %>
                </div>
                <div class="pad-top-10"><%= "#{sprintf('%.2f', coin.price_detail_raw["CHANGEPCTDAY"])}" %> %</div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>    <!-- /.wrapper -->
    </main>
    <footer>footer</footer>
  </div>
</body>
</html>